.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.1fr 1fr 2fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "navbar"
    "img"
    "showtimes"
    "bottom"; 
}


.nav-links {
    height: 400%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}


.img1{
    grid-area: img;
    align-self: center;
    padding: 0px;
    margin: 0;
    
}

.navbar {
    background-color: black;
    height: 150%;
    position: sticky;
    top: 0;
    display: grid; 
    grid-template-columns: 0.3fr 1.7fr 1fr; 
    grid-template-rows: 0.8fr 1.2fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . ."
    "theatre . ."
    ". . ."; 
    grid-area: navbar; 
}

.home > a {
    color: white;
    font-size: x-large;
    text-decoration: none;
    
}

.home {
    display: grid;
    grid-area: theatre;
    margin-left: 5vw;
}

.nav-links > a {
    color: white;
    text-decoration: none;
    ;
}


.bottom {
    grid-area: bottom; 
}


.theatre > a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.showtimes {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(4, 1fr); 
    gap: 0px 0px; 
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four"; 
    grid-area: showtimes; 
    margin-top: 150px;
    justify-items: center;
}

.img1-container {
    max-width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction:row;
    justify-content: center;
}




.showtimebox {
    display: flex;
    justify-content:flex-start;
    width: auto;
}

.date {
    display:flex;
    align-content: left;
}

.date2 {
    display: flex;
    
}

.img2 {
    max-width: 200px;
    max-height: 200px;
    padding: 35px;
}


.textcontainer {
color: black;
margin-top: 35px;
}

.mainbutton{
    padding-top: 100px;
    padding-left: 100px;
}
#buttonmain {
    height: 35px;
    background-color: orange;
    border: 1px solid rgb(196, 128, 3);
}


.datebutton {
    display: grid;
    grid-area: showtimes;
    padding-left: 33.3vw;
    padding-top: 15vh;
}

.buttondate{
    max-width: 35vw;
    max-height: 20px;
    justify-content: left;

}
 