.container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}


.nav-links {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    font-size:medium;
}

.navbar {
    background-image: linear-gradient(rgb(195, 26, 26), rgb(7, 7, 7));
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
    
    
}

.home > a {
    color: white;
    font-size: x-large;
    text-decoration: none;
    
}



.nav-links > a {
    color: white;
    text-decoration: none;
    ;
}


.bottom {
    grid-area: bottom; 
}


.theatre > a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.img1 {
    display: grid;
    grid-area: img;
}

.img1-container {
    display: flex;
    justify-content: center;

    
}
#mainimg {
    max-width: 75%;
    margin-top: 42px;
}



.mainbutton {
padding-left: 100px;
}


.showtimes { 
    display: flex;
    flex-direction: column;
    
    
    
}
.showtimebox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    padding-top: 0px;
    border-bottom:1px solid rgb(134, 133, 133);
    
    
    

}
.date2 {
    display: flex;
    
}

.img2 {

    max-width: 150px;
}


.textcontainer {
color: black;
display: flex;
flex-direction: column;
padding-left: 20px;


}


#buttonmain {
    height: 35px;
    background-image:linear-gradient(orange,rgb(255, 198, 93)) ;
    border: 1px solid rgb(196, 128, 3);
}



.datebutton {
    margin-top: 25px;
    padding: 5px;
    display: flex;
    width: 37%;
    justify-content: center;
    min-width: 300px;

    
}

.buttondate{
    width: 100%;
    

}






.play {
    font-size: larger;
}