.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.1fr 1fr 2fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "navbar"
    "img"
    "showtimes"
    "bottom"; 
}


.nav-links {
    height: 400%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    font-size: large;
}



    


.navbar {
    background-image: linear-gradient(rgb(195, 26, 26), rgb(7, 7, 7));
    height: 130%;
    position: sticky;
    top: 0;
    display: grid; 
    grid-template-columns: 0.3fr 1.7fr 1fr; 
    grid-template-rows: 0.8fr 1.2fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . ."
    "theatre . ."
    ". . ."; 
    grid-area: navbar; 
}

.home > a {
    color: white;
    font-size: x-large;
    text-decoration: none;
    
}

.home {
    display: grid;
    grid-area: theatre;
    margin-left: 5vw;
}

.nav-links > a {
    color: white;
    text-decoration: none;
    ;
}


.bottom {
    grid-area: bottom; 
}


.theatre > a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.img1 {
    display: grid;
    grid-area: img;
}

.img1-container {
    display: grid;
    grid-area: img;

    
}
#mainimg {
    max-width: 1000px;
}



.mainbutton {
padding-left: 150px;
}


.showtimes { 
    grid-area: showtimes;
    margin-top: 150px;
    margin-left: 12vw;
    
    
   
}
.showtimebox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1500px;
    padding-top: 0px;
    border-bottom:1px solid rgb(134, 133, 133);
    
    
    

}
.date2 {
    display: flex;
    
}

.img2 {

    max-width: 150px;
}


.textcontainer {
color: black;
display: inline-block;

}


#buttonmain {
    height: 35px;
    background-image:linear-gradient(orange,rgb(255, 198, 93)) ;
    border: 1px solid rgb(196, 128, 3);
}



.datebutton {
    display: grid;
    grid-area: showtimes;
    padding-left: 33.3vw;
    padding-top:0;
}

.buttondate{
    max-width: 35vw;
    max-height: 20px;
    justify-content: left;

}
 





.play {
    font-size: larger;
}